body {*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
style
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    color: #fff;
  }
  .github {
    color: rgb(19, 87, 86);
    text-decoration: none;
    line-height: 45px;
  }
  .rss {
    width: 24px;
    height: 9px;
    background-image: url("https://rs.school/images/rs_school_js.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

body {
        font-family: Comfortaa;/* Семейство шрифтов */
        src: url(assets/fonts/Comfortaa-VariableFont_wght.ttf);
        font-weight: 500;
        text-align: center;
        background: linear-gradient(
            70deg, rgb(19, 84, 61), rgb(109, 46, 97)
        );
        font-size: 17pt;/* Размер основного шрифта в пунктах  */
        color: rgb(199, 33, 149); /* Цвет основного текста */
    }
    li {
        list-style-type:none;
        display: inline-block;
        text-align: left;
        font-family: "Kaisei Tokumin", serif;
        font-weight: 400;
      }
      section {
        margin: 0 auto;
        width:100%;
        padding: 1rem 0;
      }
h1,
h2,
h3,
h4{
    text-transform: uppercase;
    padding: 1rem 0;
}
.container {
    margin: 0 auto;
    width: 96%;
    background-color: rgba(105, 25, 119, 0.3);
  }
header {
    padding: 0 2.4rem;
    position: fixed;
    width: 90%;
    z-index: 1500;
    background-image: linear-gradient(135deg, #690863 10%, #390745 100%);
    color: rgb(12, 12, 7);
    
  }
  .logo {
    flex-basis: 10%;
    font-family: "Grechen Fuemen", cursive;
    text-align: left;
  }
  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;}
.rss img {
      position: static;
      margin-top: 6rem;
      margin-left: 4rem;
      width: 50%;
      height: 15%;
    
      outline: 11px outset rgb(228, 222, 222);
      outline-offset: 0px;}
